<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bài 3</title>
</head>
<body>
<h2>Product Form</h2>

    <form th:action="@{/product/save}" method="post" th:object="${product}">
        <label>Product Name:<input th:field="*{name}" type="text"/></label>


        <label>Product Price:<input th:field="*{price}" type="text"/></label>
        <button>Save</button>

    </form>

    <ul>
        <li th:text="${product.name}">?name</li>
        <li th:text="${product.price}">?price</li>
    </ul>

</body>
</html>